<div class="row">
    <div class="col-sm-6">
        <h3 class="mb-4">About our Posts</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem iure, doloribus possimus quod dicta sequi sint doloremque tenetur dolore quia distinctio nemo repellat reprehenderit, quo repellendus fugit commodi excepturi asperiores necessitatibus quaerat vitae harum architecto ullam. Eum reprehenderit, tempora quasi mollitia voluptates voluptatem esse et repellendus magnam cumque laborum assumenda asperiores expedita quia amet fugit enim quo, fugiat ab aliquam. Deleniti rem nisi aut accusamus tempora amet, voluptate officiis, ex saepe sunt, aliquid distinctio velit alias officia repudiandae inventore asperiores?</p>
    </div>
</div>